<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>




    Update your information!
    <span id="currentUser"><%= user._id %></span>
    <span id="currentUser"><%= user.truckname %></span>
    <span id="currentUser"><%= user.location %></span>

  <form method="POST" action="/profile/<%=user._id %>?_method=PUT">
    <div class="form-group">
      <span>Enter truck name </span>
      <input type="text" name="truckname" class="form-control" value="<%= user.truckname %>" >
    </div>
    <div class="form-group">
      <span>Enter location </span>
      <input type="text" name="location" class="form-control" value="<%= user.location %>" >
    </div>
    <div class="form-group">
      <span>Enter foodtype</span>
      <select name="foodtype" placeholder="foodtype" autofocus>
        <option value="" disabled selected><%= user.foodtype %></option>
        <option value="Mexcian">Mexican</option>
        <option value="Asian">Asian</option>
        <option value="American">American</option>
      </select>
    </div>
    <input type="submit" class="btn btn-block btn-default" value="Update">
  </form>
  <% include ../views/partials/footer %>


  </body>
</html>
